body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#results {
    padding-top: 15px;
}

#prediction-confidence{
    color: grey;
}

.form-group {
  margin-bottom: 0px;
}

.form-control {
  height:50px
}

.lead {
  margin-top: 20px;
}

button {
  width: 30%;
}

* {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
section {
  border-bottom: 1px solid white;
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
}
h1  {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}

.intj-toggles {
  data-width: 400px;
}

.intj-description {
  text-align: center;
  padding-left: 10%;
}


.model-row {
  padding-top: 50px;
  text-align: left;
  padding-left: 10%;
  line-height: 30px;
}

.mycontent-right {
  margin-left: 200px;
}

img {
  width: 70%;
}

.description {
  font-size: 28px;

  color: rgba(255, 255, 255, 0.893);
}

.section-4 {
  padding-left: 10%;
}

#description-1 {
  text-align:left;
  padding-top: 20px;
  padding-left: 29.5%;
}

#description-2 {
  text-align: left;
  padding-left: 18.5%;
  padding-top: 20px;
}

.citation {
  font-size: 16px;
  padding-left: 15.5%;
  padding-top: 50%;
  text-align: left;
  color: rgba(255, 255, 255, 0.729);
}

.citation-2 {
  font-size: 16px;
  padding-left: 1.5%;
  padding-top: 50%;
  text-align: left;
  color: rgba(255, 255, 255, 0.729);
}

#connect-people {
  margin-top: 50px;
  color: white;
  text-align:left;
  padding-right: 25.5%;
  font-size: 22px;
}

label {
  font-size: 14px;
}

sup {
  font-size: 12px;
}

#section-1 {
  background: #2b334f;
}
#section-2 {
  background: #2e5367;
}
#section-3 {
  background: #fcb052;
}
#section-4 {
  background: #267481;
}
#section-5 {
  background: #f06a59;
}
#section-6 {
  background: #83A0A0;
}
#section-7 {
  background: #FFA5A5
}

.s6 {
  padding-top: 70px;
}

