<!DOCTYPE html>
<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.js"></script> 
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>MBTI Classifier</title>
  </head>
  <body>
      <main role="main" class="container">

          <div class="starter-template">
            <h1>Myer-Briggs Personality Classifier</h1>
            <p class="lead">CSCE-676 Project by Jusung, Ruiwan, Yi</p>
            <form id='theForm'>
              <div class="form-group">
                <label for="corpus">Predict your MBTI personality!</label>
                <input name="corpus" type="corpus" class="form-control" id="corpus aria-describedby="emailHelp" placeholder="Enter a paragraph...">
              </div>
              <button type="submit" id="formButton" class="btn btn-primary">Predict</button>
          </form>

          <div id="results">
            <h2 id="prediction-label"></h2>
            <div id="prediction-confidence"></div>
          </div>
          </div>
    
        </main><!-- /.container -->

  </body>
</html>