<!DOCTYPE html>
<html>
  <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.js"></script> 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.js"></script>
      <script src="https://bundle.run/css-scroll-snap-polyfill@0.1.2"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
      <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      <link href="{{ url_for('static', filename='css/stylesheet.css') }}" rel="stylesheet">

      

    <meta charset="UTF-8">
    <title>MBTI Classifier</title>
  </head>
  <body>
      <section id="section-1">
          <!-- <h1>Section One</h1> -->
          <h1>Battling Loneliness
              <p class="lead">Myer-Briggs Personality Classifier</p>
            <main role="main" class="container">

            <div class="starter-template">
              
              
              <form id='theForm'>
                <div class="form-group">
                  <!-- <label for="corpus">Predict your MBTI personality!</label> -->
                  <input name="corpus" type="corpus" class="form-control" id="corpus aria-describedby="emailHelp" placeholder="Enter a paragraph...">
                </div>
                <button type="submit" id="formButton" class="btn btn-primary">Predict</button>
            </form>

            <div id="results">
              <h2 id="prediction-label">&zwnj;</h2>
              <h3 id="prediction-confidence">&zwnj;</h3>
            </div>
            </div>
    
          </main>
        </h1>
        
      </section>
      <section id="section-2">
              <h1>Loneliness. It's an issue.
                <p class="description" id="description-1">
                  <br>
                    46% feel sometimes/always feeling lonely
                    <br>
                    27% feel like no one understands them 
                    <br>
                    27% never feel close to people<sup>[1]</sup>
                    <br>
                </p>
                <span id="connect-people">Let's help connect people.</span>
                <br>
                <a class="citation" href="https://www.cigna.com/newsroom/news-releases/2018/new-cigna-study-reveals-loneliness-at-epidemic-levels-in-america">[1] “New Cigna Study Reveals Loneliness at Epidemic Levels in America.” Cigna, a Global Health Insurance and Health Service Company.</a>
                
              </h1>
      </section>
      <section id="section-3">
              <h1>How can we connect people?
                  <p class="description" id="description-2">
                    The more similar you are to someone, the easier it is to form a meaningful connection. <sup>[1]</sup>
                     <br>
                     The Myers-Briggs Personality Test is one way to group individuals on similarity.<br>
                     Using machine learning, we can connect people to the same or similar MBTI personalities.
                  </p>
                  <br>
                <a class="citation-2" href="https://journals-sagepub-com.srv-proxy1.library.tamu.edu/doi/abs/10.1177/0265407508096700">[1] “Is actual similarity necessary for attraction? A meta-analysis of actual and perceived similarity.” R. Matthew Montoya, Robert S. Horton, Jeffrey Kirchner</a>

              </h1>
      </section>
      <section id="section-4">

        
              <h1>
                
                <img src="{{ url_for('static', filename='img/676.png') }}">
                
              </h1>
      </section>
      <section id="section-5">
              <h1>The Model
                <br>
                  <div class="row model-row">
                      <div class="span6">
                        <div class="mycontent-left">
                            <p class="description">MBTI personality is composed of 4 different binary <br>sub-personalities. 
                                <br>&zwnj;<br>
                                That means there are 8 sub-personalities and 16 distinct <br>personality combinations.
                                
                                <br>&zwnj;<br>
                                A naive approach is to try a multi-modal 16-group classification.
                                <br>
                                However, this results in low performance because of large <br>
                                number of clusters.<br>&zwnj;<br>
                                
                                Instead, let's create a model with 4 binary sub-classifiers <br>for each 
                                of the subpersonalities because Binary classifiers have higher <br>performance scores.
                                <br>&zwnj;<br>

                                In addition, this 4-bit model allows for "partial" personality matches, such as
                                <br>
                                Introverted vs Extroverted, instead of forcing a person to fit into one of
                                <br>
                                16 distinct categories and acting like clusters share no similarity.
                              </p>
                        </div>
                      </div>
                      <div class="span6">
                        <div class="mycontent-right">
                          <p class="description intj-description"> <span id="0">E</span><span id="1">S</span><span id="2">F</span><span id="3">P</span></p>
                                <div class="checkbox">
                                    <label>
                                      <input data-width="200px" place="0" state="E" name="toggle" data-onstyle="success" data-offstyle="danger" type="checkbox" id="i-toggle" class="intj-toggles" data-toggle="toggle" data-on="Introversion" data-off="Extroversion">
                                      
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                      <input data-width="200px"  name="toggle" place="1" state="S" data-onstyle="success" data-offstyle="danger" type="checkbox" id="n-toggle" class="intj-toggles" data-toggle="toggle" data-on="Intuition" data-off="Sensing">
                                      
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                      <input data-width="200px"  name="toggle" place="2" state="F" data-onstyle="success" data-offstyle="danger" type="checkbox" id="t-toggle" class="intj-toggles" data-toggle="toggle" data-on="Thinking" data-off="Feeling">
                                      
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                      <input data-width="200px" name="toggle" place="3" state="P"  data-onstyle="success" data-offstyle="danger" type="checkbox" id="j-toggle" class="intj-toggles" data-toggle="toggle" data-on="Judgement" data-off="Perception">
                                      
                                    </label>
                                </div>
                          
                        </div>
                      </div>
                    </div>
                
              </h1>

      </section>

      <section id="section-6">
          <h1>Applications
            <p class="description s6">
              Now that we have this ensemble model that can predict a MBTI, how do we use it?
              <br>&zwnj;<br>
              A user can classify themself with either the official MBTI test or our model.
              <br>&zwnj;<br>
              Then, reddit can utilize our algorithm to suggest users in the same classification.
              <br>&zwnj;<br>
              Since reddit already suggests people with similar interests (subredits), reddit can <br>
              now suggest people with similar personalities, <b>closing the loneliness gap.</b>
              <br>&zwnj;<br>
              While this model is trained on reddit data, you can trivially train the same model on<br>
              other social media platforms and utilize it there as well.
            </p>
          </h1>

  </section>

  <section id="section-7">
      <h1>Credit
        <p class="description">CSCE-676 Project by Jusung, Ruiwan, Yi
          <br>
          Code and Data: <a href="https://github.com/jusunglee/676-project">Github Repo</a>
          <br>
        </p>
      </h1>

</section>
      <!-- <main role="main" class="container">

          <div class="starter-template">
            <h1>Myer-Briggs Personality Classifier</h1>
            <p class="lead">CSCE-676 Project by Jusung, Ruiwan, Yi</p>
            <form id='theForm'>
              <div class="form-group">
                <label for="corpus">Predict your MBTI personality!</label>
                <input name="corpus" type="corpus" class="form-control" id="corpus aria-describedby="emailHelp" placeholder="Enter a paragraph...">
              </div>
              <button type="submit" id="formButton" class="btn btn-primary">Predict</button>
          </form>

          <div id="results">
            <h2 id="prediction-label"></h2>
            <div id="prediction-confidence"></div>
          </div>
          </div>
    
        </main>/.container -->

  </body>
</html>